.addProductContainer {
}
.addProductContainer h1 {
  text-align: center;
  margin-bottom: 3.2rem;
}
.addProductContainer .notice {
  text-align: center;
  font-style: italic;
  font-size: 1.4rem;
  color: #606060;
}
