/* :root {

} */

/* Global Button Styles */
.btn {
  all: unset;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

/* Link Style for Buttons */
.btn a {
  text-decoration: none;
  color: inherit;
}

/* Error Button */
:global(.error) {
  align-self: center;
  font-size: 1.6rem;
  background-color: var(--color-red-500);
  color: var(--color-grey-0);
  font-weight: 600;
  padding: 0.8rem 1.6rem;
  border-radius: var(--border-radius-sm);
  transition: background-color 0.3s;
}

:global(.error):hover {
  background-color: var(--color-red-600);
}

/* Primary Button */
:global(.primary) {
  font-weight: 600;
  background-color: var(--color-brand-600);
  color: var(--color-sec-50);
  padding: 1rem 2rem;
  border-radius: var(--border-radius-sm);
  transition: background-color 0.3s;
}

:global(.primary):hover {
  background-color: var(--color-brand-800);
}

/* Secondary Button */
:global(.secondary) {
  font-weight: 600;
  background-color: var(--color-grey-100);
  color: var(--color-grey-800);
  padding: 1rem 2rem;
  border-radius: var(--border-radius-sm);
  transition: background-color 0.3s;
}

:global(.secondary):hover {
  background-color: var(--color-grey-200);
}

/* Small Button */
:global(.small) {
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  border-radius: var(--border-radius-tiny);
}

/* Medium Button */
:global(.mid) {
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  border-radius: var(--border-radius-sm);
}

/* Large Button */
:global(.big) {
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  border-radius: var(--border-radius-md);
}

/* Bid Button */
:global(.bid) {
  font-size: 1.6rem;
  background-color: var(--color-vert);
  color: var(--color-grey-0);
  padding: 0.8rem 1.6rem;
  border-radius: var(--border-radius-sm);
  transition: background-color 0.3s;
}

:global(.bid):hover {
  background-color: var(--color-vert-dark);
}

/* CTA Button */
:global(.cta) {
  background-color: var(--color-brand-600);
  color: var(--color-sec-50);
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 1rem 2rem;
  border-radius: var(--border-radius-sm);
  transition: background-color 0.3s;
}

:global(.cta):hover {
  background-color: var(--color-brand-800);
}

/* Authentication Button */
:global(.auth) {
  text-align: center;
  background-color: var(--color-brand-600);
  color: var(--color-sec-50);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: var(--border-radius-sm);
  transition: background-color 0.3s, color 0.3s;
}

:global(.auth):hover {
  background-color: var(--color-brand-800);
}

/* Logout Button */
:global(.logout) {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: var(--color-grey-100);
  color: var(--color-grey-800);
  padding: 0.8rem 1.6rem;
  border-radius: var(--border-radius-sm);
  transition: background-color 0.3s, color 0.3s;
}

:global(.logout):hover {
  background-color: var(--color-grey-200);
  color: var(--color-grey-900);
}

/* Update Button */
:global(.update) {
  font-weight: 600;
  background-color: var(--color-orange-500);
  color: var(--color-grey-0);
  padding: 1rem 2rem;
  border-radius: var(--border-radius-sm);
  transition: background-color 0.3s;
}

:global(.update):hover {
  background-color: var(--color-orange-700);
}

/* Warning Button */
:global(.warn) {
  font-weight: 600;
  background-color: var(--color-orange-500);
  color: var(--color-grey-0);
  padding: 1rem 2rem;
  border-radius: var(--border-radius-sm);
  transition: background-color 0.3s;
}

:global(.warn):hover {
  background-color: var(--color-orange-700);
}
