.footer {
  margin-top: 9.6rem;
  border-top: 1px solid var(--color-grey-300);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--color-grey-900);
  padding: 6.4rem 3.6rem 3.6rem 3.6rem;
}

.footerColumn img {
  max-width: 50%;
}

.footerColumn {
  font-size: 1.2rem;
}

.footerColumn p {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: var(--color-sec-50);
}

.footerColumn h3 {
  color: var(--color-sec-50);
  margin-bottom: 1.5rem;
}

.footerColumn ul {
  list-style-type: none;
  padding: 0;
}

.footerColumn ul li {
  margin-bottom: 1rem;
}

.footerColumn ul li a {
  color: var(--color-grey-400);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footerColumn ul li a:hover {
  color: var(--color-sec-50);
}
