.paginationBox {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navButton {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #007b83;
  font-size: 1.4rem;
  font-weight: bold;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navButton:hover {
  background-color: #e0f4f5;
}

.navButton:disabled,
.navButton.disabled {
  background-color: #eaeaea;
  color: #9e9e9e;
  cursor: not-allowed;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.pageButton {
  background-color: #ffffff;
  color: #007b83;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.pageButton:hover {
  background-color: #e0f4f5;
}

.active {
  background-color: #007b83;
  color: #ffffff;
  border: 0.1rem solid #007b83;
  transform: none;
}

.pageButton:disabled {
  background-color: #eaeaea;
  color: #9e9e9e;
  cursor: not-allowed;
}
