.paginationBox {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navButton {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-grey-0);
  color: var(--color-sec-800);
  font-size: 1.4rem;
  font-weight: bold;
  border: 0.1rem solid var(--color-grey-300);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navButton:hover {
  background-color: var(--color-sec-100);
}

.navButton:disabled,
.navButton.disabled {
  background-color: var(--color-grey-200);
  color: var(--color-grey-400);
  cursor: not-allowed;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.pageButton {
  background-color: var(--color-grey-0);
  color: var(--color-sec-800);
  border: 0.1rem solid var(--color-grey-300);
  border-radius: var(--border-radius-sm);
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.pageButton:hover {
  background-color: var(--color-sec-100);
}

.active {
  background-color: var(--color-sec-800);
  color: var(--color-grey-0);
  border: 0.1rem solid var(--color-sec-800);
  transform: none;
}

.pageButton:disabled {
  background-color: var(--color-grey-200);
  color: var(--color-grey-400);
  cursor: not-allowed;
}
