.authDetailsContainer {
  margin-top: 2rem;
  border: 0.1rem solid var(--color-grey-300);
  border-radius: var(--border-radius-md);
  padding: 1rem;
  background-color: var(--color-grey-50);
}

.sectionTitle {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-grey-800);
}

.authTable {
  font-size: 1.2rem;
  width: 100%;
  border-collapse: collapse;
}

.authTable td {
  font-size: 1.4rem;
  padding: 0.8rem;
  border: 0.1rem solid var(--color-grey-200);
}

.tableLabel {
  font-weight: 500;
  color: var(--color-grey-600);
  width: 40%;
}

.downloadLink {
  color: var(--color-blue-500);
  text-decoration: none;
}

.downloadLink:hover {
  text-decoration: underline;
  color: var(--color-blue-600);
}
