.sellerOverviewContainer {
  margin-top: 2rem;
  padding: 1rem;
  border: 0.1rem solid var(--color-grey-300);
  border-radius: var(--border-radius-sm);
  background-color: var(--color-grey-50);
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-grey-800);
  margin-bottom: 1rem;
}

.sellerDetails {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sellerImage {
  width: 3.2rem !important;
  border-radius: 50%;
  border: 0.2rem solid var(--color-grey-200);
}

.sellerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sellerName {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-grey-800);
  margin: 0;
}

.sellerStats {
  font-size: 1.2rem;
  color: var(--color-grey-600);
  margin: 0.2rem 0;
}
