.sellerOverviewContainer {
  margin-top: 2rem;
  padding: 1rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.8rem;
  background-color: #f9f9f9;
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.sellerDetails {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sellerImage {
  width: 3.2rem !important;
  border-radius: 50%;
  border: 0.2rem solid #eee;
}

.sellerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sellerName {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  margin: 0;
}

.sellerStats {
  font-size: 1.2rem;
  color: #555;
  margin: 0.2rem 0;
}
