.spinner {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.spinner div {
  border: 0.4rem solid #f4f4f4;
  border-top: 0.4rem solid #42b4b9;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
