.label {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 4px;
  text-transform: capitalize;
}

.pending {
  background-color: #f3f4f6; /* Light gray background */
  color: #4b5563; /* Dark gray text */
}

.rejected {
  background-color: #fee2e2; /* Light red background */
  color: #b91c1c; /* Deep red text */
}

.verified {
  background-color: #d1fae5; /* Light green background */
  color: #047857; /* Deep green text */
}
