.infoContainer {
  padding: 6.4rem 4.8rem;
  display: grid;
  grid-template-columns: 3fr 7fr;
  column-gap: 9.6rem;
  background-color: var(--color-grey-50);
}
.infoContainer .imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageContainer img {
  width: 18rem;
}
.imageContainer input {
  margin-top: 2.4rem;
  width: 100%;
}

.infoContainer .infoData {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 60%;
}
.infoData div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.infoData div label {
  color: var(--color-grey-700);
  font-size: 1.6rem;
}
.buttns {
  margin-top: 2.4rem;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}
