.addressInfo {
  background-color: #f8f8f8;
  padding: 6.4rem 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.empty {
  font-size: 1.8rem;
  text-align: center;
  margin: 3.2rem 0;
  color: #aaa;
}
.addButton {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.2rem;
}
