.container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--color-grey-50);
  border: 0.1rem solid var(--color-grey-200);
  border-radius: var(--border-radius-md);
  margin-top: 1.6rem;
}

.imageSection {
  margin-top: 3.6rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coverImage {
  width: 100%;
  max-width: 30rem;
  border-radius: var(--border-radius-md);
}

.detailsSection {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-grey-800);
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.detailsTable {
  width: 100%;
  border-collapse: collapse;
}

.detailsTable td {
  padding: 0.8rem;
  font-size: 1.4rem;
  color: var(--color-grey-700);
  vertical-align: top;
}

.label {
  font-weight: 600;
  color: var(--color-grey-800);
  width: 30%;
}

.documentButton {
  background-color: var(--color-brand-600);
  color: var(--color-grey-0);
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  font-size: 1.4rem;
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.documentButton:hover {
  background-color: var(--color-brand-800);
}

.declaration {
  margin-top: 2rem;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.checkbox {
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

.checkboxText {
  font-size: 1.4rem;
  color: var(--color-grey-700);
}

.actionButtons {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.button {
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.verifyButton {
  background-color: var(--color-vert);
  color: var(--color-grey-0);
}
.verifyButton:hover {
  transition: all 0.3s;
  background-color: var(--color-vert-dark);
  color: var(--color-grey-0);
}

.verifyButton:disabled {
  background-color: var(--color-grey-300);
  cursor: not-allowed;
}

.rejectButton {
  background-color: var(--color-red-500);
  color: var(--color-grey-0);
}

.rejectButton:hover {
  transition: all 0.3s;
  background-color: var(--color-red-600);
}
