.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0.8rem 0;
  border-bottom: 0.1rem solid var(--color-grey-200);
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.imgContainer {
  position: relative;
  width: 60%;
  display: flex;
  justify-content: center;
}

.container img {
  width: 60%;
}

.price,
.date,
.status {
  justify-self: center;
  align-self: center;
}

.title {
  align-items: center;
}

.title a {
  text-decoration: none;
  color: var(--color-grey-800);
  font-weight: 600;
  transition: color 0.3s ease;
}

.title a:hover {
  color: var(--color-brand-600);
}

.title {
  font-size: 1.2rem;
  font-weight: 500 !important;
}

.price {
  font-size: 1.2rem;
  color: var(--color-blue-500);
  font-weight: 500;
}

.date {
  font-size: 1.2rem;
  color: var(--color-vert);
  font-weight: 500;
}

.status {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--color-grey-700);
}

.updateHeading {
  text-align: center;
  margin-top: 2.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-grey-800);
}

.updateHeading span {
  color: var(--color-brand-600);
}

.warnText {
  max-width: 80%;
  gap: 1.2rem;
  margin: 1.2rem auto;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--color-orange-500);
  align-items: center;
}

.warnIcon {
  font-size: 2.4rem;
}

.autionStatus {
  position: absolute;
  transform: translate(20%, 8%);
  font-size: 1.8rem;
  bottom: 0;
  right: 0;
  color: var(--color-brand-600);
  background-color: var(--color-grey-0);
  border-radius: 50%;
  animation: pulseEffect 1.5s infinite alternate;
}

@keyframes pulseEffect {
  0% {
    color: var(--color-red-600);
  }
  50% {
    color: var(--color-red-200);
  }
  100% {
    color: var(--color-red-600);
  }
}
