.productContainer {
  padding-left: 3.2rem;
  padding-right: 2.4rem;
  display: grid;
  column-gap: 3.2rem;
  grid-template-columns: 50fr 50fr;
  row-gap: 4.2rem;
}
.productContainer img {
  /* margin-left: auto;
  margin-right: auto; */
  width: 100%;
}
.productContainer .productHader {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.productContainer .productHader h1 {
  font-size: 3.6rem;
  color: #1c1c1c;
}
.productContainer .productHader p {
  font-size: 1.6rem;
  line-height: 1.5;
}
.productContainer .statusConatiner {
  font-weight: 500;
  color: #494949;
  margin-top: 2.4rem;
  display: flex;
  justify-content: space-between;
}
.ortherDtails {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.ortherDtails h3 {
  font-weight: 600;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #494949;
}
.title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.descriptionText {
  font-size: 1.6rem;
  line-height: 1.4;
}
.sideCondiner {
  display: grid;
  grid-template-columns: 6fr 4fr;
}
