.faqContainer {
  max-width: 100rem;
  margin: 0 auto;
  padding: 4rem;
  color: var(--color-grey-600);
}

.faqContainer h1 {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--color-brand-600);
  font-size: 2.8rem;
}

.faqItem {
  margin-bottom: 2rem;
  background-color: var(--color-grey-50);
}

.faqQuestionContainer {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-grey-100);
  align-items: center;
  padding: 1.2rem;
  border-radius: var(--border-radius-sm);
  transition: background-color 0.3s ease;
}

.faqQuestionContainer:hover {
  background-color: var(--color-grey-200);
}

.faqQuestionContainer span {
  margin-right: 1.2rem;
  font-size: 3.2rem;
  font-weight: 400;
  color: var(--color-vert-dark);
  cursor: pointer;
  transition: all 0.3s;
}

.open .faqQuestion {
  color: var(--color-grey-800);
}

.open span {
  transform: rotate(180deg);
  transition: all 0.3s;
}

.faqQuestion {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-grey-700);
  margin-bottom: 1rem;
  padding: 1.2rem 0.6rem;
}

.faqAnswer {
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-grey-600);
  background-color: var(--color-vert-100);
  height: 0;
  opacity: 0;
  padding: 0rem 1.2rem;
  transition: 0.2s ease-in-out;
  border-radius: var(--border-radius-sm);
}

.open .faqAnswer {
  height: auto;
  opacity: 1;
  padding: 3.2rem 1.2rem;
}

.faqAnswer p {
  margin: 0;
}
