.privacyPolicy {
  color: var(--color-grey-600);
  padding: 4rem;
  max-width: 100rem;
  margin: 0 auto;
  font-size: 1.6rem;
}

.privacyPolicy h1 {
  color: var(--color-brand-600);
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.privacyPolicy h2 {
  color: var(--color-vert);
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.privacyPolicy p {
  font-size: 1.4rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.privacyPolicy ul {
  list-style-type: square;
  margin-left: 2rem;
}

.privacyPolicy ul li {
  margin-bottom: 1rem;
}
