.deleteContiner {
  max-width: 50rem;
  background-color: var(--color-grey-0);
  padding: 3.2rem;
  border-radius: var(--border-radius-md);
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  position: relative;
}

.heading {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--color-grey-800);
}

.warningText {
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--color-grey-600);
  margin-bottom: 1.5rem;
}

.buttonContainer {
  margin-top: 2.4rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  font-size: 1.6rem;
}

.deleteButton {
  padding: 0.8rem 1.6rem;
  background-color: var(--color-red-500);
  color: var(--color-grey-0);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteButton:hover {
  background-color: var(--color-red-600);
}

.cancelButton {
  padding: 0.8rem 1.6rem;
  background-color: var(--color-grey-100);
  color: var(--color-grey-700);
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancelButton:hover {
  background-color: var(--color-grey-200);
  color: var(--color-grey-800);
}
