/* Modal content */
.modalContent {
  background-color: var(--color-grey-0);
  padding: 2rem;
  border-radius: var(--border-radius-md);
  max-width: 60rem;
  text-align: center;
  box-shadow: 0rem 0.4rem 2rem rgba(0, 0, 0, 0.1);
}

/* Heading */
.heading {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--color-grey-800);
}

/* Product Preview Section */
.productPreview {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 2.4rem;
}

.productImage {
  width: 30% !important;
  object-fit: cover;
  border-radius: var(--border-radius-sm);
}

.productDetails {
  text-align: left;
  margin-left: 2rem;
}

.productTitle {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-grey-800);
}

.productSummary {
  font-size: 1.6rem;
  color: var(--color-grey-600);
  margin-bottom: 1rem;
}

.productBasePrice {
  font-size: 1.8rem;
  color: var(--color-grey-800);
}

/* Auction Rules Section */
.rules {
  text-align: left;
  margin-bottom: 2rem;
}

.rulesHeading {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--color-grey-800);
}

.rulesList {
  list-style-type: disc;
  padding-left: 2rem;
  font-size: 1.6rem;
  color: var(--color-grey-600);
}

.rulesList li {
  margin-bottom: 0.8rem;
}

/* Date Input Section */
.dateInputs {
  margin-top: 2rem;
  text-align: left;
}

.dateInputContainer {
  margin-bottom: 1.5rem;
}

.dateLabel {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: var(--color-grey-800);
}

.dateInput {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  border: 0.1rem solid var(--color-grey-300);
  border-radius: var(--border-radius-sm);
  outline: none;
}

.dateInput:focus {
  border-color: var(--color-brand-600);
}

/* Checkbox Container */
.termsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.checkbox {
  margin-right: 1rem;
  cursor: pointer;
}

.termsLabel {
  color: var(--color-grey-800);
  font-size: 1.6rem;
  cursor: pointer;
}

/* Button Container */
.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

/* Buttons */
.publishButton,
.cancelButton {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius-sm);
  font-weight: 500;
}

.publishButton {
  background-color: var(--color-vert);
  color: var(--color-grey-0);
}
.publishButton:hover {
  transition: all 0.3s;
  background-color: var(--color-vert-dark);
}
.cancelButton {
  background-color: var(--color-red-500);
  color: var(--color-grey-0);
}
.cancelButton:hover {
  transition: all 0.3s;
  background-color: var(--color-red-600);
}

.publishButton:disabled,
.cancelButton:disabled {
  background-color: var(--color-grey-300);
  cursor: not-allowed;
}
