.deleteContiner {
  max-width: 50rem;
  background-color: #ffffff;
  padding: 3.2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  position: relative;
}

.heading {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #333;
}

.warningText {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #666;
  margin-bottom: 1.5rem;
}

.buttonContainer {
  margin-top: 2.4rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  font-size: 1.6rem;
}

.deleteButton {
  padding: 0.8rem 1.6rem;
  background-color: #e53e3e;
  color: #ffffff;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteButton:hover {
  background-color: #c53030;
}

.cancelButton {
  padding: 0.8rem 1.6rem;
  background-color: #f3f4f6;
  color: #374151;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancelButton:hover {
  background-color: #e5e7eb;
  color: #1f2937;
}
