/* 
BRAND COLOR: #42b4b9
BACKGROUND COLOR:#fff
HEADING COLOR:#1c1c1c
DESCRIPTION COLOR :#686a6f
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #444;
  font-family: "Rubik", sans-serif;
  /* font-family: "Asap", sans-serif; */
}
html {
  font-size: 62.5%;
}
h1,
h2 {
  font-family: "Asap", sans-serif;
}
main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.2rem;
  max-width: 135rem;
  padding: 0 1.2rem;
  /* min-height: 65vh; */
}
/* .outlet {
  height: 90vh;
  overflow-y: scroll;
  padding-bottom: 3.2rem;
} */
.grid-col-sidebar-main {
  display: grid;
  grid-template-columns: 15fr 85fr;
  column-gap: 3.6rem;
}
.formError {
  font-size: 1.4rem !important;
  color: red;
}
input,
textarea {
  background-color: #fff;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: 1.6rem;
  outline: none;
  border: 1px solid #c3c3c5;
  transition: all 0.3s;
}
input::placeholder,
textarea::placeholder {
  color: #b4b5b7;
}
input:focus,
textarea:focus {
  border: 1px solid #3e4043;
  outline: 1.5px solid #3e4043;
}

/* Scroll Bar */
/*
.outlet {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-y: scroll;
}
.outlet::-webkit-scrollbar {
  display: none; 
}
*/
