.userPersonalInfos .headers {
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f9f9f9;
  color: #757575;
  border-bottom: 1px solid #ddd;
  border-radius: 0.5rem !important;
}

.userPersonalInfos .headers p {
  padding: 1.2rem 1.6rem;
  text-align: center;
  border-right: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 0.5rem !important;
}

.userPersonalInfos .headers p:hover {
  background-color: #eaeaea;
}

.userPersonalInfos .headers p:last-child {
  border-right: none;
}

.userPersonalInfos .headers .active {
  font-weight: 600;
  background-color: #777777 !important;
  color: #fff;
}
