.specilitys h2 {
  font-size: 2.4rem;
  color: #333333;
  margin-bottom: 2.4rem;
}
.specilitys ul {
  padding-left: 2.4rem;
  list-style: square;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}
.specilitys p {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
